<div class="Myself" ng-controller="LoadMydataCtrl">
    <div class="Myhead"><p>我的提问</p></div>
    <div class="btnContainer">
        <btn-left ng-click="LoadMyyiquestion()" class="text button" id="btnLeft"><p>已回答</p></btn-left>
        <btn-right ng-click="LoadMyweiquestion()" id="btnRight"><p>未回答</p></btn-right>
        <div class="scrCtn">
            <div id="scrid" class="scr"></div>
        </div>
    </div>
    <div class="content" go-all ng-repeat="myqt in myqts">
        <div class="contentuser">
            <div class="contentuser_img"></div>
            <div class="contentuser_name">&nbsp;{{myqt.number}}问:</div>
        </div>
        <div class="contenthead" >{{myqt.name}}</div>
        <div class="contentbody">回答:<br>{{myqt.string}}</div>
        <div class="contentfoot">
            <div class="foot_img"></div>
            <p>&nbsp;&nbsp;{{myqt.place}}</p>
        </div>
    </div>
</div>