



@keyframes text1 {
    from{
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    to{
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

@-webkit-keyframes text1 {
    from{
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    to{
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}
@keyframes text2 {
    from{
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
    to{
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

@-webkit-keyframes text2 {
    from{
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
    to{
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}


/*.Mwdiv.ng-enter{*/
    /*-webkit-animation: text2 0.5s both ease-in;*/
    /*animation: text2 0.5s both ease-in;*/
/*}*/

/*.Mwdiv.ng-leave{*/
    /*-webkit-animation: text1 0.5s both ease-in;*/
    /*animation: text1 0.5s both ease-in;*/
/*}*/

/*.question.ng-enter{*/
    /*-webkit-animation: text2 0.5s both ease-in;*/
    /*animation: text2 0.5s both ease-in;*/
/*}*/

/*.question.ng-leave{*/
    /*-webkit-animation: text1 0.5s both ease-in;*/
    /*animation: text1 0.5s both ease-in;*/
/*}*/

/*.Myself.ng-enter{*/
    /*-webkit-animation: text2 0.5s both ease-in;*/
    /*animation: text2 0.5s both ease-in;*/
/*}*/

/*.Myself.ng-leave{*/
    /*-webkit-animation: text1 0.5s both ease-in;*/
    /*animation: text1 0.5s both ease-in;*/
/*}*/

@keyframes srcright {
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 50%;
    }
}

@-webkit-keyframes srcright {
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 50%;
    }
}

@keyframes scrleft {
    from{
        margin-left: 50%;
    }
    to{
        margin-left: 0%;
    }
}

@-webkit-keyframes scrleft {
    from{
        margin-left: 50%;
    }
    to{
        margin-left: 0%;
    }
}

.scrRant{
    -webkit-animation: srcright 0.3s both ease-in;
    animation:srcright 0.3s both ease-in;
}

.scrLant{
    -webkit-animation: scrleft 0.3s both ease-in;
    animation:scrleft 0.3s both ease-in;
}